<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contactbook_contactbook_create_listing_data_source" xsi:type="string">InvigorateSystems\ContactBook\Model\ResourceModel\Contact\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="InvigorateSystems\ContactBook\Model\ResourceModel\Contact\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">contactbook_table</argument>
            <argument name="resourceModel" xsi:type="string">InvigorateSystems\ContactBook\Model\ResourceModel\Contact</argument>
        </arguments>
    </virtualType>
</config>